body {
    position: relative;
}

body::after {
    content: "";
    display: block;
    height: 50px;
}

footer {
    background: lightgray;
    height: 50px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    margin: 10px;
    text-transform: uppercase;
}

.footer-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.footer-link {
    margin: 0 20px;
    color: black;
}

.footer-link:hover {
    color: dodgerblue;
    transition: 0.25s ease;
}

.load-time {
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 800px) {
    .footer-copyright {
        display: none;
    }
}