.content > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 50%;
    text-align: center;
    margin: 300px 0 0 0;
    font-size: 50px;
    font-weight: 600;
}

.join-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin: 75px 0;
    color: white;
    background-color: darkorange;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: darkorange;
    font-size: 20px;
    font-weight: 600;
}

.join-button:hover {
    color: darkorange;
    background-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
    box-shadow: none;
}

.platform-header {
    margin: 300px 0 50px 0;
    font-size: 40px;
    font-weight: 600;
}

.logo-container {
    margin: 75px;
}

.messenger-logo {
    height: 100px;
    margin: 50px;
}