body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: whitesmoke;
    position: relative;
    min-height: 100vh;
}

.load-time {
    position: absolute;
    right: 20px;
}